.body{
    background-color: #6A6A6A;
}

.container {
    background-color: #6A6A6A;

}

.building {
    display: flex;
    justify-content: center;
}

/* screen - DESKTOP */

/* BUILDING BODY CSS */
.rightBricks {
    background-color: #EBDEDB;
    height: 842px;
}

.leftBricks {
    background-color: #EBDEDB;
    height: 842px;
}

.buildingBody{
    background-color: #F071BB;
    position: relative;
    width: 715px;
    height: 823px;
}

.rightWindows{
    position: absolute;
    top: 447px;
    left: 219px;
    
}

.door {
    position: absolute;
    top: 446px;
    left: 24px;
}

.tent {
    position: absolute;
    top: 235px;
}

.title {
    position: absolute;
    top: 97px;
}

.signback {
    position: absolute;
    top: 30px;
    left: 21px;
    width: 674px;
    height: 47px;
    background: #535BB4;
    border: 2px solid #1D1D1B;
    border-radius: 30px;
    display: flex;
      flex: 0 0 auto;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s;
      font-size: 2.5rem;
      font-weight:bold;
      color: #9D9993;
}

.signText {
    margin: 0px;
    text-align: center;
    line-height: 47px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: Noto Sans KR;
    letter-spacing: -0.33px;
    animation: textLoop 10s linear infinite;
}

.circle {
    margin: 5px;
    line-height: 47px;
}

@keyframes textLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

.game-sign {
    position: absolute;
    top: 476px;
    left: 365px;
}

.staywithme-sign {
    position: absolute;
    top: 470px;
    left: 243px;
}

.pdf-sign {
    position: absolute;
    top: 476px;
    left: 564px;
}

.shop-sign {
    position: absolute;
    top: 593px;
    left: 456px;
}

.open-sign {
    position: absolute;
    top: 510px;
    left: 72px;
}

/* Light Blink Effect */

.light-green {
    position: absolute;
    top: 264px;
    animation: blink-effect 0.5s step-start infinite;   
}

.light-red {
    position: absolute;
    top: 264px;
    animation: blink-effect 0.5s step-end infinite;   
}

@keyframes blink-effect {
    50% {
      opacity: 0;
    }
}


    /* FLOOR CSS */
.underBrick{
    display: flex;
    justify-content: center;
}

.pressSign {
    position: absolute;
    top: 898px;
    justify-content: center;
}

.buttonText {
    position: absolute;
    top: 948px;
    justify-content: center;
}

/* Footer CSS */

.footer {
    display: flex;
    justify-self: center;
    background-color: #2D2D2D;
}

.footer.floor{
    background-color: #2D2D2D;
}

.footersample{
    position: relative;
}

/* screen - MOBILE */
  
.mobile-screen {
  align-items: center;
  background-color: #eadedb;
  border: 1px solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 640px;
  padding: 28.0px 0;
  width: 360px;
}
  
.mobile-screen .sign-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 0.69px;
  min-width: 287px;
  }
  
.mobile-screen .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/sign-back-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  gap: 40px;
  height: 34px;
  justify-content: flex-end;
  margin-top: -1.0px;
  min-width: 289px;
  padding: 4.0px 14.4px;
}

.mobile-screen .surname {
  color: #ffffff;
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 900;
  letter-spacing: -0.33px;
  line-height: normal;
  min-height: 22px;
  min-width: 180px;
  text-align: center;
}

.mobile-screen .vector {
  align-self: center;
  height: 4px;
  margin-top: 0.37px;
  width: 4px;
}

.mobile-screen .overlap-group1 {
  height: 540px;
  position: relative;
  width: 360px;
}

.mobile-screen .building-mobile {
  height: 314px;
  left: 19px;
  position: absolute;
  top: 225px;
  width: 322px;
}

.mobile-screen .title-mobile {
  height: 114px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 322px;
}

.mobile-screen .tent-mobile {
  height: 149px;
  left: 19px;
  position: absolute;
  top: 112px;
  width: 322px;
}

.mobile-screen .floor-mobile {
  height: 55px;
  left: 0;
  position: absolute;
  top: 485px;
  width: 360px;
}

.mobile-screen .pdf-down-sign-mobile {
  height: 51px;
  left: 253px;
  position: absolute;
  top: 373px;
  width: 54px;
  transition: all ease 1ms;
}

.mobile-screen .pdf-down-sign-mobile:hover {
  transform: rotate(15deg);
}

.mobile-screen .open-sign-mobile {
  height: 61px;
  left: 153px;
  position: absolute;
  top: 290px;
  width: 55px;
  transition: all ease 1ms;
}

.mobile-screen .open-sign-mobile:hover {
  transform: rotate(10deg);
}

.mobile-screen .stay-with-me-sign-mobile {
  height: 89px;
  left: 61px;
  position: absolute;
  top: 276px;
  width: 49px;
  transition: all ease 1ms;
}

.mobile-screen .stay-with-me-sign-mobile:hover {
  transform: rotate(10deg);
}

.mobile-screen .hometown-diary-sign-mobile {
  height: 56px;
  left: 263px;
  position: absolute;
  top: 310px;
  width: 58px;
  transition: all ease 1ms;
}

.mobile-screen .hometown-diary-sign-mobile:hover {
  transform: rotate(10deg);
}

@media screen and (max-width: 768px) {
  .desktop-screen { 
    display: none;
    }
}
@media screen and (min-width: 769px) {
  .mobile-screen { 
    display: none;
    }
}
