.building {
    display: flex;
    justify-content: center;
}

/* screen - DESKTOP */

/* BUILDING BODY CSS */

.rightBricks {
    background-color: #EBDEDB;
    
}

.leftBricks {
    background-color: #EBDEDB;
}

.buildingBody{
    position: relative;
    width: 715px;
}

.rightWindows{
    position: absolute;
    top: 447px;
    left: 219px;
    
}

.door {
    position: absolute;
    top: 446px;
    left: 24px;
}

.tent {
    position: absolute;
    top: 235px;
}

.title {
    position: absolute;
    top: 97px;
}

.signback {
    position: absolute;
    top: 30px;
    left: 21px;
    width: 674px;
    height: 47px;
    background: #535BB4;
    border: 2px solid #1D1D1B;
    border-radius: 30px;
    display: flex;
      flex: 0 0 auto;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s;
      font-size: 2.5rem;
      font-weight:bold;
      color: #9D9993;
}

.signText {
    margin: 0px;
    text-align: center;
    line-height: 47px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.33px;
    animation: textLoop 10s linear infinite;
}

.circle {
    margin: 5px;
    line-height: 47px;
}

@keyframes textLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

.game-sign {
    position: absolute;
    top: 476px;
    left: 365px;
}

.staywithme-sign {
    position: absolute;
    top: 470px;
    left: 243px;
}

.pdf-sign {
    position: absolute;
    top: 476px;
    left: 564px;
}

.shop-sign {
    position: absolute;
    top: 593px;
    left: 456px;
}

.open-sign {
    position: absolute;
    top: 510px;
    left: 72px;
}

/* Light Blink Effect */

.light-green {
    position: absolute;
    top: 264px;
    animation: blink-effect 0.5s step-start infinite;   
}

.light-red {
    position: absolute;
    top: 264px;
    animation: blink-effect 0.5s step-end infinite;   
}

@keyframes blink-effect {
    50% {
      opacity: 0;
    }
}


    /* FLOOR CSS */
.underBrick{
    display: flex;
    justify-content: center;
    background-color: #6A6A6A;
}
.floor {
    position: absolute;
    top: 821px;
}

.pressSign {
    position: absolute;
    top: 898px;
    justify-content: center;
}

.buttonText {
    position: absolute;
    top: 948px;
    justify-content: center;
}

/* PDFDOWNLOAD CSS */
.pdf-container {
    background-color: #F071BB;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdfsign {
    margin-top: 118px;
}

@keyframes shadow-effect {
    50% {
      opacity: 0%;
    }
}

.pdfsignOff{
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -52px;
    animation: shadow-effect 1s step-start infinite;
}

.pdfboard {
    margin-top: 37px;
    
}

.downloadButton {
    color: #FFFFFF;
    background-color: #2DBC4B;
    font-size: 2rem;
    margin-top: 47px;
    padding: 0.5rem 2rem;
  
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-decoration: 2px solid;
  
    display: inline-block;
    width: auto;
  
    border: 2.5px solid;
    border-color: #000;
    border-radius: 1.5rem;

}

.publicNotice {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 27px;
}

/* Footer CSS */

.footer {
    background-color: #2D2D2D;
    align-items: center;
}

.footersample{
    width: 100%;
}

/* screen - Mobile */

.mobile-building {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBDEDB;
}

.mobile-tent {
    position: absolute;
    top: 200px;
}

.mobile-title {
    position: absolute;
    top: 90px;
}

.mobile-signback {
    position: absolute;
    top: 47px;
    width: 327px;
    height: 35px;
    background: #535BB4;
    border: 2px solid #1D1D1B;
    border-radius: 30px;
    display: flex;
      flex: 0 0 auto;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s;
      font-size: 2.5rem;
      font-weight:bold;
      color: #9D9993;
}

.mobile-signText {
    margin: 4px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.33px;
    animation: textLoop 10s linear infinite;
}

.mobile-circle {
    margin: 0px;
}

.mobile-gamesign {
    position: absolute;
    top: 330px;
    margin-left: 100px;
}

.mobile-staywithme {
    position: absolute;
    top: 327px;
    margin-left: 1rem;
}

.mobile-pdfsign {
    position: absolute;
    top: 440px;
    margin-left: 110px;

}

.mobile-shopsign {
    position: absolute;
    top: 440px;
    margin-left: 1.5rem;
}

.mobile-opensign {
    position: absolute;
    top: 377px;
    margin-left: -6rem;
}
.mobile-underbrick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EBDEDB;
}

.mobile-floor {
    position: inherit;
    margin-top: -2px;
    
}

.mobile-signtext {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-top: 3rem;
}

.mobile-notice {
    margin-top: 0.5rem;

}

.mobile-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    background-color: #2D2D2D;
}

.mobile-footer-logo {
    flex: 1 1 auto;

}

.mobile-footer-sns {
    color: #EBDEDB;

}

.mobile-footer-sns .p{
    color: #EBDEDB;

}


@media screen and (max-width: 768px) {
    .container { 
      display: none;
      }
    .footersample {
        display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .mobile-container { 
      display: none;
      }
  }
