.body {
    margin: 0;
    background-color: #ebdedb;
}

/* screen - full-project */

.desktop-1440-all-breakpoints {
  align-items: flex-start;
  background-color: var(--bizarre);
  border: 1px none;
  display: flex;
  height: 1024px;
  width: 1440px;
}

.desktop-1440-all-breakpoints .overlap-group {
  height: 919px;
  position: relative;
  width: 1440px;
}

.desktop-1440-all-breakpoints .building {
  height: 477px;
  left: 284px;
  position: absolute;
  top: 442px;
  width: 870px;
}

.desktop-1440-all-breakpoints .title {
  height: 283px;
  left: 357px;
  position: absolute;
  top: 0;
  width: 725px;
}

.desktop-1440-all-breakpoints .tent {
  height: 229px;
  left: 357px;
  position: absolute;
  top: 273px;
  width: 725px;
}

.desktop-1440-all-breakpoints .floor {
  height: 89px;
  left: 0;
  position: absolute;
  top: 830px;
  width: 1440px;
}

.desktop-1440-all-breakpoints .pdf-down-sign {
  height: 75px;
  left: 946px;
  position: absolute;
  top: 649px;
  width: 82px;
}

.desktop-1440-all-breakpoints .open-sign {
  height: 91px;
  left: 677px;
  position: absolute;
  top: 539px;
  width: 86px;
}

.desktop-1440-all-breakpoints .stay-with-me-sign {
  height: 132px;
  left: 514px;
  position: absolute;
  top: 536px;
  width: 77px;
}

.desktop-1440-all-breakpoints .hometown-diary-sign {
  height: 84px;
  left: 867px;
  position: absolute;
  top: 539px;
  width: 90px;
}

.desktop-1440-all-breakpoints .sign {
  height: 49px;
  left: 402px;
  position: absolute;
  top: 39px;
  width: 636px;
}
  /* screen - mobile-components-360 */
  
  .mobile-components-360 {
    align-items: center;
    background-color: #eadedb;
    border: 1px solid;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: 640px;
    padding: 28.0px 0;
    width: 360px;
  }
  
  .mobile-components-360 .sign-1 {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 32px;
    justify-content: center;
    margin-right: 0.69px;
    min-width: 287px;
  }
  
  .mobile-components-360 .overlap-group-1 {
    align-items: flex-start;
    background-image: url(../img/sign-back-1@2x.svg);
    background-size: 100% 100%;
    display: flex;
    gap: 40px;
    height: 34px;
    justify-content: flex-end;
    margin-top: -1.0px;
    min-width: 289px;
    padding: 4.0px 14.4px;
  }
  
  .mobile-components-360 .surname {
    color: #ffffff;
    font-family: var(--font-family-noto_sans_kr);
    font-size: var(--font-size-m);
    font-weight: 900;
    letter-spacing: -0.33px;
    line-height: normal;
    min-height: 22px;
    min-width: 180px;
    text-align: center;
  }
  
  .mobile-components-360 .vector {
    align-self: center;
    height: 4px;
    margin-top: 0.37px;
    width: 4px;
  }
  
  .mobile-components-360 .overlap-group1 {
    height: 540px;
    position: relative;
    width: 360px;
  }
  
  .mobile-components-360 .building-1 {
    height: 314px;
    left: 19px;
    position: absolute;
    top: 225px;
    width: 322px;
  }
  
  .mobile-components-360 .title-1 {
    height: 114px;
    left: 19px;
    position: absolute;
    top: 0;
    width: 322px;
  }
  
  .mobile-components-360 .tent-1 {
    height: 149px;
    left: 19px;
    position: absolute;
    top: 112px;
    width: 322px;
  }
  
  .mobile-components-360 .floor-1 {
    height: 55px;
    left: 0;
    position: absolute;
    top: 485px;
    width: 360px;
  }
  
  .mobile-components-360 .pdf-down-sign-1 {
    height: 51px;
    left: 253px;
    position: absolute;
    top: 373px;
    width: 54px;
  }
  
  .mobile-components-360 .open-sign-1 {
    height: 61px;
    left: 153px;
    position: absolute;
    top: 290px;
    width: 55px;
  }
  
  .mobile-components-360 .stay-with-me-sign-1 {
    height: 89px;
    left: 61px;
    position: absolute;
    top: 276px;
    width: 49px;
  }
  
  .mobile-components-360 .hometown-diary-sign-1 {
    height: 56px;
    left: 263px;
    position: absolute;
    top: 310px;
    width: 58px;
  }
  /* screen - tablet-768
  
  .tablet-768 {
    align-items: flex-start;
    background-color: #ebdedb;
    border: 1px none;
    display: flex;
    height: 1024px;
    width: 768px;
  }
  
  .tablet-768 .overlap-group-2 {
    height: 937px;
    position: relative;
    width: 768px;
  }
  
  .tablet-768 .building-2 {
    height: 398px;
    left: 42px;
    position: absolute;
    top: 459px;
    width: 685px;
  }
  
  .tablet-768 .title-2 {
    height: 300px;
    left: 43px;
    position: absolute;
    top: 0;
    width: 683px;
  }
  
  .tablet-768 .tent-2 {
    height: 229px;
    left: 42px;
    position: absolute;
    top: 290px;
    width: 685px;
  }
  
  .tablet-768 .pdf-down-sign-2 {
    height: 75px;
    left: 598px;
    position: absolute;
    top: 666px;
    width: 77px;
  }
  
  .tablet-768 .open-sign-2 {
    height: 91px;
    left: 345px;
    position: absolute;
    top: 556px;
    width: 82px;
  }
  
  .tablet-768 .stay-with-me-sign-2 {
    height: 132px;
    left: 190px;
    position: absolute;
    top: 553px;
    width: 72px;
  }
  
  .tablet-768 .hometown-diary-sign-2 {
    height: 84px;
    left: 524px;
    position: absolute;
    top: 556px;
    width: 85px;
  }
  
  .tablet-768 .sign-2 {
    height: 49px;
    left: 85px;
    position: absolute;
    top: 56px;
    width: 600px;
  }
  
  .tablet-768 .floor-2 {
    height: 90px;
    left: 0;
    position: absolute;
    top: 847px;
    width: 768px;
  } */
  @media screen and (max-width: 767px) {
    .screen.tablet-768 { 
      display: none;
     }
    .screen.full-project { 
      display: none;
     }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .screen.mobile-components-360 { 
      display: none;
     }
    .screen.full-project { 
      display: none;
     }
  }
  @media screen and (min-width: 1280px) {
    .screen.mobile-components-360 { 
      display: none;
     }
    .screen.tablet-768 { 
      display: none;
     }
  }

  @media screen and (max-width: 768px) {
    .screen.desktop-1440-all-breakpoints { 
      display: none;
     }
  }
  @media screen and (min-width: 769px) {
    .screen.mobile-components-360 { 
      display: none;
     }
  }
